//sidebar nav
nav.calc-menu
	.acc.acc--level-1.is-open
		button.acc__head.acc__head--level-1(type='button')
			span Пар
			span.acc__icon(aria-hidden='true')
		.acc__body
			.acc__body-inner
				.acc.acc--level-2
					button.acc__head.acc__head--level-2(type='button')
						span.acc__icon(aria-hidden='true')
						span Проектирование трубопроводов
					.acc__body
						.acc__body-inner
							a.acc__link(href='#') Расчет замера трубы по размерам давления
							a.acc__link(href='#') Потери давления в трубопроводе
							a.acc__link(href='#') Скорость прохождения воды через трубопровод
				.acc.acc--level-2.is-open
					button.acc__head.acc__head--level-2(type='button')
						span.acc__icon(aria-hidden='true')
						span Проектирование трубопроводов
					.acc__body
						.acc__body-inner
							a.acc__link(href='#') Расчет замера трубы по размерам давления
							a.acc__link(href='#') Потери давления в трубопроводе
							a.acc__link.is-active(href='#') Скорость прохождения воды через трубопровод
				.acc.acc--level-2
					button.acc__head.acc__head--level-2(type='button')
						span.acc__icon(aria-hidden='true')
						span Проектирование трубопроводов
					.acc__body
						.acc__body-inner
							a.acc__link(href='#') Расчет замера трубы по размерам давления
							a.acc__link(href='#') Потери давления в трубопроводе
							a.acc__link(href='#') Скорость прохождения воды через трубопровод
				.acc.acc--level-2
					button.acc__head.acc__head--level-2(type='button')
						span.acc__icon(aria-hidden='true')
						span Проектирование трубопроводов
					.acc__body
						.acc__body-inner
							a.acc__link(href='#') Расчет замера трубы по размерам давления
							a.acc__link(href='#') Потери давления в трубопроводе
							a.acc__link(href='#') Скорость прохождения воды через трубопровод
	.acc.acc--level-1
		button.acc__head.acc__head--level-1(type='button')
			span Возврат конденсата
			span.acc__icon(aria-hidden='true')
		.acc__body
			.acc__body-inner
				.acc.acc--level-2
					button.acc__head.acc__head--level-2(type='button')
						span.acc__icon(aria-hidden='true')
						span Проектирование трубопроводов
				.acc.acc--level-2.is-open
					button.acc__head.acc__head--level-2(type='button')
						span.acc__icon(aria-hidden='true')
						span Проектирование трубопроводов
					.acc__body
						.acc__body-inner
							a.acc__link(href='#') Расчет замера трубы по размерам давления
							a.acc__link(href='#') Потери давления в трубопроводе
							a.acc__link(href='#') Скорость прохождения воды через трубопровод
				.acc.acc--level-2
					button.acc__head.acc__head--level-2(type='button')
						span.acc__icon(aria-hidden='true')
						span Проектирование трубопроводов
					.acc__body
						.acc__body-inner
							a.acc__link(href='#') Расчет замера трубы по размерам давления
							a.acc__link(href='#') Потери давления в трубопроводе
							a.acc__link(href='#') Скорость прохождения воды через трубопровод
				.acc.acc--level-2
					button.acc__head.acc__head--level-2(type='button')
						span.acc__icon(aria-hidden='true')
						span Проектирование трубопроводов
					.acc__body
						.acc__body-inner
							a.acc__link(href='#') Расчет замера трубы по размерам давления
							a.acc__link(href='#') Потери давления в трубопроводе
							a.acc__link(href='#') Скорость прохождения воды через трубопровод