include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard
		button#close-ui FORMS
		include ui-navigation.pug

		block content
			.container-dashboard.custom-form(style="padding-top:80px;")
				.form-item
					input.form-inp(type="text" name="inp_name")
					span.form-span °C
				pre.
					.form-item
						input.form-inp(type="text" name="inp_name")
						span.form-span °C
				br
				.form-item-group
					.form-label Название компании*
					.form-item
						input.form-inp(type="text" name="inp_name" data-required)
						span.form-span °C
				pre.
					.form-item-group
						.form-label Название компании*
						.form-item
							input.form-inp(type="text" name="inp_name" data-required)
							span.form-span °C
				br
				br
				.form-two-cols
					.form-item-group
						.form-label Название компании*
						.form-item
							input.form-inp(type="text" name="inp_name" data-required)
							span.form-span °C
					.form-item-group
						.form-label Очень длинный label, который может растянуться на две строки*
						.form-item
							input.form-inp(type="text" name="inp_name" data-required)
							span.form-span °C
				br
				br

				h4(style="margin-bottom:14px;") Кастомный чекбокс
				.form-checkbox
					label.form-checkbox-label
						input(type="checkbox" name="check1")
						span.fake-checkbox
						span.form-checkbox-name Да
					
				pre.
					.form-checkbox
						label.form-checkbox-label
							input(type="checkbox" name="check1")
							span.fake-checkbox
							span.form-checkbox-name Да
				br
				br
				
				h4(style="margin-bottom:14px;") Кастомный radio button
				.form-radio
					label.form-radio-label
						input(type="radio" name="radio1")
						span.fake-radio
						span.form-radio-name Да
				
				.form-radio
					label.form-radio-label
						input(type="radio" name="radio1")
						span.fake-radio
						span.form-radio-name Нет
					
				pre.
					.form-radio
						label.form-radio-label
							input(type="radio" name="radio1")
							span.fake-radio
							span.form-radio-name Нет
				.dropdown
					button.dropdown__button(type="button" aria-haspopup="listbox" aria-expanded="false") Вакансия
					
					.dropdown__list
						ul
							li.dropdown__list-item
								label.form-radio-label
									input(type="radio"  id="exlevel-01" name="exitlevel0" value="1" checked )
									span.form-radio-name 0(4)…20мА
							li.dropdown__list-item
								label.form-radio-label
									input(type="radio" id="exlevel-01" name="exitlevel0" value="2")
									span.form-radio-name 0 (2)…10В
							li.dropdown__list-item
								label.form-radio-label
									input(type="radio" id="exlevel-01" name="exitlevel0" value="3")
									span.form-radio-name Дискретные сигналы предельных уровней
					
					//==== в этот скрытый инпут в качестве value  выводится значение из data-value у.dropdown__list-item ===
					input.dropdown__input-hidden(type="hidden", name="")
		
				br
				.form-item-group
					.form-label Выходной сигнал уровня
					.dropdown
						button.dropdown__button(type="button" aria-haspopup="listbox" aria-expanded="false") 0(4)…20мА
						.dropdown__list
							ul
								li.dropdown__list-item
									label.form-radio-label
										input(type="radio"  id="exlevel-01" name="exitlevel" value="1" checked )
										span.form-radio-name 0(4)…20мА
								li.dropdown__list-item
									label.form-radio-label
										input(type="radio" id="exlevel-01" name="exitlevel" value="2")
										span.form-radio-name 0 (2)…10В
								li.dropdown__list-item
									label.form-radio-label
										input(type="radio" id="exlevel-01" name="exitlevel" value="3")
										span.form-radio-name Дискретные сигналы предельных уровней
				br
				.dropdown
					button.dropdown__button(type="button" aria-haspopup="listbox" aria-expanded="false") 
					.dropdown__list
						ul
							li.dropdown__list-item
								label.form-radio-label
									input(type="radio"  name="name_01"  value="val_01" checked )
									span.form-radio-name  List item name
							li.dropdown__list-item
								label.form-radio-label
									input(type="radio"  name="name_01"  value="val_02" )
									span.form-radio-name  List item name
				br
				h4(style="margin-bottom:14px;") Соглашение с политикой в форме
				.agree-block
					.form-checkbox
						label.checkbox-label
							input.checkbox-inp(type="checkbox" name="name")
							span.fake-checkbox
							span.fs-14 Я согласен с #[a.a-gradient(href="#!") политикой конфиденциальности]
				pre.
					.agree-block
						.form-checkbox
							label.checkbox-label
								input.checkbox-inp(type="checkbox" name="name")
								span.fake-checkbox
								span.fs-14 Я согласен с #[a.a-gradient(href="#!") политикой конфиденциальности]
				
				
		script(src="../js/main.js")
			
			