.ui-panel
	.ui-panel-block
		.ui-panel-block__part
			
			a(href="http://localhost:3000/").back-index На Главную
			h3 Базовые компоненты
			ul
				li
					a(href="colors.html") Цветовая схема
				li
					a(href="grid.html") Сетка GRID
				li
					a(href="grid-span.html") Сетка GRID-span
				li
					a(href="grid-flex.html") Сетка FLEX
				
				li
					a(href="typography.html") Типографика
				li
					a(href="marker-list.html") Маркированный список
				li
					a(href="icons.html") Иконки
				li
					a(href="buttons.html") Кнопки
				li
					a(href="forms.html") Формы
				li
					a(href="tabs.html") Табы
				
		.ui-panel-block__part
			h3 Секции
			ul
				li
					a(href="tabs.html") Табы
					
		
		.ui-panel-block__part
			//- h3 Секции
			//- ul
			//- 	li
		