.calculator-single{
	p, ol, ul, h1, h2, h3{margin: 0;}
}
.grid-column-calc{
	padding-left: 60px;
	overflow: hidden;
	border-left: 1px solid #f4f4f4;
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	@media (max-width: 1199px) {
	  padding-left: 40px;
	  row-gap: 20px;
	}
	@media (max-width: 767px) {
	  padding-left: 0;
	  border-left: 0;
	}
}
.calc-main.calculator-single .grid-column-calc{
   
	@media (min-width: 1200px) {
	 padding-left: 80px;
	}
	
}
.grid-column-head{
	margin-bottom: 15px;
	padding-bottom: 15px;
	position: relative;
	&:after{
		content:'';
		position: absolute;
		right: 0;
		width: 100vw;
		bottom: 0;
		height: 1px;
		 background: #f4f4f4;

	}
	.breadcrumb{margin-bottom: 16px;}
	@media (max-width: 1439px) {
	  .grid-column-head{padding-bottom: 10px; margin-bottom: 10px;}
	  .grid-column-head .h-30{font-size: 25px;}
	}
}
.calc-main{
	p{margin: 0;}
	.grid-column-sidebar{
		position: sticky;
		top:10px;
		@media (max-width: 767px) {
		  position: relative;
		  top:auto;
		}
	}
	
}
.calc-main{
	font-family: 'Montserrat';
	.grid-column-sidebar{
		padding-right: 30px;
		padding-top: 10px;
		@media (max-width: 1199px) {
		  padding-right: 20px;
		}
		@media (max-width: 767px) {
		 padding-right: 0;
		}
	}
}

.sidebar-title{
	font-weight: 500;
	line-height: 110%;
	margin-bottom: 5px;
}

.calc-block{
	width: 100%;
	min-width: 0;
	.calc-list-title,
	.primary-header{
		margin-bottom: 15px;
	}
	.calc-list +.calc-list{margin-top: 30px;}
	@media (max-width: 1439px) {
	.primary-header .semi-25{font-size: 18px;}
	.calc-list-title .semi-20{font-size: 16px;}
	.calc-list +.calc-list{margin-top: 20px;}
	}
}
.calc-content{
	display: grid;
	grid-template-columns:  1fr;
	gap:30px;
}
.calc-list-ul ul{
	margin: 0;
	padding: 0;
	padding-left: 24px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 30px;
	row-gap: 15px;
	font-size: 15px;
	line-height: 1.3;
	li::marker{
		font-size: 11px;
	}
	@media (max-width: 1439px) {
	   grid-template-columns: 1fr 1fr;	  
	   row-gap: 10px;
	}
	@media (max-width: 1199px) {
	 column-gap: 10px;
	 font-size: 13px;
	}
	@media (max-width: 767px) {
	  grid-template-columns:1fr;
	}
}
.calculator-form{
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	@media (max-width: 1199px) {
	  row-gap: 20px;
	}

}
.calculator-form__body{
	width: 100%;
}
.calculator-form__measure, .calculator-form__head{
	display: flex;
	align-items: center;
	
}
.calculator-form__head{
	width: 100%;
    justify-content: space-between;
	@media (max-width: 1023px) {
		flex-direction: column;
		align-items: flex-start;
		row-gap: 10px;
	}
}
.calculator-form__measure{
	column-gap:10px;
	.dropdown{
		width: 125px;
		flex-shrink: 0;
	}
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
.btn-clear-form{
	font-weight: 400;
	font-family: inherit;
	cursor:pointer;
	font-size: 15px;
	line-height: 1.2;
	color: #999;
}
.calculator-form__footer{
	width: 100%;
	.form-button{width: fit-content;}
}
.calculator-form__result{
	
	padding-block: 30px;
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
	
	.calculator-result-block{
	  display: flex;
	  flex-direction: column;
	  row-gap: 16px;
	  padding-top: 20px;
	}
	.result-error{
		font-weight: 400;
		font-size: 15px;
		line-height: 120%;
		color: #dd3134;
	}
	@media (max-width: 1199px) {
		padding-block: 20px;
		.semi-24{font-size: 18px;}
	}
	@media (max-width: 767px) {
	  flex-direction: column;
	  align-items: flex-start;
	  row-gap:10px;
	}
}
.calculator-result-row.form-item-group{
	width: 100%;
	flex-direction: row;
	column-gap:20px;
	.form-label {
   	  flex: unset;
	  flex-grow: 1;
      align-items: center;
	}
	.form-inp--measure{
        border: 0;
		font-size: 24px;
		font-weight: 400;
		text-align: center;
		max-width: 200px;
		height: 40px;
		
	}
	.dropdown--measure{background: rgb(220, 220, 222);border-radius: 4px;}
	.dropdown--measure .dropdown__list-item:hover,
	.dropdown--measure .dropdown__list-item:has(input:checked) {
		background-color: rgba(220, 220, 222, 0.3);
	}
	.dropdown--measure .dropdown__button{
		background: #dcdcde;
		height: 40px;
		border-radius: 4px;
		font-weight: 400;
		font-size: 15px;
		color: #333;
	}
	.dropdown--measure .dropdown__button::after {
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.5 10.5L9 6L13.5 10.5' stroke='black' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
		transform: translateY(-50%) rotate(180deg);
	}
	.dropdown--measure .dropdown__list--visible{
		border-color:#dcdcde;
	}
}
.has-tooltip{
	position: relative;
	display: flex;
	column-gap:6px;
	.tooltip-wrapper .tooltip-icon{
		width: 18px;
		height: 18px;
		border-radius: 20px;
		flex-shrink: 0;
		display: block;
		border: 1px solid currentColor;
		color: rgba(51, 51, 51, 0.4);
		font-size: 16px;
		text-align: center;
		line-height: 14px;
	}
	.tooltip-wrapper .tooltip-text{
		background-color: #fff;
		padding: 12px;
		font-weight: 400;
		font-size: 13px;
		line-height: 120%;
		color: #333;
		box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.1);
		border-radius: 4px;
		border: 1px solid #e6e6e6;
		width: 100%;
		position: absolute;
		bottom: 90%;
		left: 0;
		z-index: -1;
		transition: .3s; 
		opacity: 0;
		p{
			margin: 0;
		}
		@media (max-width: 767px) {
			padding: 6px;
		    font-size: 12px;
		}
	}
}
.tooltip-wrapper:hover .tooltip-text{
	opacity: 1;
	z-index: 10;
	bottom: 60%;
}

.form-label.has-tooltip{
	@media (max-width: 1199px) {
	display: flex!important;
	}
}