extends ../layouts/layout-white.pug

block content
	main.calc-main
		.container-1440
			.grid-column-left
				//LEFT SIDEBAR
				.grid-column-sidebar
					.sidebar-title.txt-center
						.font-20 Инженерный калькулятор
					
					include ../blocks/_acc-menu
				
				//RIGHT COLUMN
				.grid-column-main.grid-column-calc
					.grid-column-head
						p.breadcrumb Тут компонент breadcrumbs
						h1.h-30 Инженерный калькулятор
					.calc-content
						//single block
						.calc-block
							.primary-header.txt-center
								h2.semi-25 Пар
							//single list
							.calc-list
								.calc-list-title
									.semi-20 Проектирование трубопроводов
								.calc-list-ul
									ul
										li
											a.link-underline(href="#!") Скорость прохождения воды через трубопровод
										li
											a.link-underline(href="#!") Скорость прохождения воды через трубопровод трубопровод
										li
											a.link-underline(href="#!") Скорость прохождения воды через трубопровод Скорость прохождения
										li
											a.link-underline(href="#!") Скорость прохождения воды через трубопровод
										
							//single list
							.calc-list
								.calc-list-title
									.semi-20 Проектирование трубопроводов
								.calc-list-ul
									ul
										li
											p Скорость прохождения воды через трубопровод
										li
											p Скорость прохождения воды через трубопровод трубопровод
										li
											p Скорость прохождения воды через трубопровод Скорость прохождения
										li
											p Скорость прохождения воды через трубопровод
										li
											p Скорость прохождения воды через трубопровод
							//single list
							.calc-list
								.calc-list-title
									.semi-20 Клапаны и сопла
								.calc-list-ul
									ul
										li
											p От снижения давления
										li
											p От снижения давления

						//single block
						.calc-block
							.primary-header.txt-center
								h2.semi-25 Воздух
							//single list
							.calc-list
								.calc-list-title
									.semi-20 Проектирование трубопроводов
								.calc-list-ul
									ul
										li
											a.link-underline(href="#!") Скорость прохождения воды через трубопровод
										li
											a.link-underline(href="#!") Скорость прохождения воды через трубопровод трубопровод
										li
											a.link-underline(href="#!") Скорость прохождения воды через трубопровод Скорость прохождения
										li
											a.link-underline(href="#!") Скорость прохождения воды через трубопровод
										li
											a.link-underline(href="#!") Скорость прохождения воды через трубопровод

							//single list
							.calc-list
								.calc-list-title
									.semi-20 Проектирование трубопроводов
								.calc-list-ul
									ul
										li
											p Скорость прохождения воды через трубопровод
										li
											p Скорость прохождения воды через трубопровод трубопровод
										li
											p Скорость прохождения воды через трубопровод Скорость прохождения

							//single list
							.calc-list
								.calc-list-title
									.semi-20 Клапаны и сопла
								.calc-list-ul
									ul
										li
											p От снижения давления
										li
											p От снижения давления
						//single block
						.calc-block
							.primary-header.txt-center
								h2.semi-25 Газ
							//single list
							.calc-list
								.calc-list-title
									.semi-20 Проектирование трубопроводов
								.calc-list-ul
									ul
										li
											a.link-underline(href="#!") Скорость прохождения воды через трубопровод
										li
											a.link-underline(href="#!") Скорость прохождения воды через трубопровод трубопровод
										li
											a.link-underline(href="#!") Скорость прохождения воды через трубопровод Скорость прохождения
										li
											a.link-underline(href="#!") Скорость прохождения воды через трубопровод
										li
											a.link-underline(href="#!") Скорость прохождения воды через трубопровод

							//single list
							.calc-list
								.calc-list-title
									.semi-20 Проектирование трубопроводов
								.calc-list-ul
									ul
										li
											p Скорость прохождения воды через трубопровод
										li
											p Скорость прохождения воды через трубопровод трубопровод
										li
											p Скорость прохождения воды через трубопровод Скорость прохождения

							//single list
							.calc-list
								.calc-list-title
									.semi-20 Клапаны и сопла
								.calc-list-ul
									ul
										li
											p От снижения давления
										li
											p От снижения давления										
	-var title = "Калькулятор Главная";
