extends ../layouts/layout.pug

block content
	.start-page(style="background: white;")
		h1 CRM
		.start-page__cards
			a(href="./ui/colors.html") UI-KIT
			a(href="./oprosni-list.html") Опросный лист
			a(href="./kondensatni-nasos.html") Конденсатный насос и станция сбора
			a(href="./kondensatootvodchik.html") Конденсатоотводчик
			
			
	-var title = "Оформление";
