extends ../layouts/layout.pug

block content
	.form-wrapper
		.form-wrapper-title Опросный лист. Паровой тепловой пункт
		form.custom-form.js-validate-form(action="" )
			//BLOCK №1
			.fieldset
				.fieldset-title 1. Контактная информация
				.form-two-cols
					//single form item
					.form-item-group
						.form-label Название компании*
						.form-item
							input.form-inp(type="text" name="COMPANY_TITLE" value="<?= $data['COMPANY_TITLE'] ?>" data-required)
					
					//single form item
					.form-item-group
						.form-label Контактное лицо*
						.form-item
							input.form-inp(type="text" name="NAME" value="<?= $data['NAME'] ?>"  data-required)
							
					//single form item
					.form-item-group
						.form-label Телефон/факс*
						.form-item
							input.form-inp.phone(type="text" name="PHONE" value="<?= $data['PHONE'] ?>" data-required)
				
					//single form item
					.form-item-group
						.form-label E-mail*
						.form-item
							input.form-inp(type="email" name="EMAIL" value="<?= $data['EMAIL'] ?>" data-required)

			
			//BLOCK №2
			.fieldset.border-0
				.fieldset-title 2. Параметры
				.fieldset-group
					.fieldset-group-title Греющая сторона
					.form-two-cols
						//single form item
						.form-item-group
							.form-label Давление пара
							.form-item
								input.form-inp(type="number" name="p1" required)
								
						//single form item
						.form-item-group
							.form-label Температура пара (для перегретого пара)
							.form-item
								input.form-inp(type="number" name="p2" required)
								span.form-span °C

						//single form item
						.form-item-group
							.form-label Давление в конденсатопроводе (противодавление)
							.form-item
								input.form-inp(type="number" name="p3" required)
						
			
				.fieldset-group
					.fieldset-group-title Габариты помещения
					.form-two-cols
						//single form item
						.form-item-group
							.form-label Габариты помещения
							.form-item
								input.form-inp(type="number" name="p4" required)
				
				.fieldset-group
					.fieldset-group-title Отопление
					.form-two-cols
						//single form item
						.form-item-group
							.form-label Теплоноситель
							.form-item
								input.form-inp(type="text" name="p5" required)
								
						//single form item
						.form-item-group
							.form-label Мощность
							.form-item
								input.form-inp(type="number" name="p6" required)
								span.form-span кВт

						//single form item
						.form-item-group
							.form-label Температурный график
							.form-item
								input.form-inp(type="number"  name="p7" required)
								span.form-span °С
						//single form item
						.form-item-group
							.form-label Максимальное рабочее давление
								span.hide-xl (кг/см #[sup 2])
							.form-item
								input.form-inp(type="number"  name="p8" required)
								span.form-span.hide-xs кг/см #[sup 2]
						//single form item
						.form-item-group
							.form-label Потери давления в системе
								span.hide-xl (кг/см#[sup 2])
							.form-item
								input.form-inp(type="number"  name="p9")
								span.form-span.hide-xs кг/см#[sup 2]
						
						//single form item
						.form-item-group
							.form-label Высота верхней точки системы
								
							.form-item
								input.form-inp(type="number"  name="p10" required)
								span.form-span м.
						
						//single form item
						.form-item-group
							.form-label Объем системы
								
							.form-item
								input.form-inp(type="number" name="p11" required)
								span.form-span м#[sup 3]
						//single form item
						.form-item-group
							.form-label Давление в линии подпитки
								span.hide-xl (кг/см#[sup 2])
							.form-item
								input.form-inp(type="number" name="p12" required)
								span.form-span.hide-xs кг/см#[sup 2]
			
				.fieldset-group
					.fieldset-group-title Горячее водоснабжение
					.form-two-cols
						//single form item
						.form-item-group
							.form-label Мощность кВт (или пиковый расход м3/час)
							.form-item
								input.form-inp(type="number" name="p13" required)
								
						//single form item
						.form-item-group
							.form-label Температура на входе / выходе
							.form-item
								input.form-inp(type="number" name="p14" required)
								span.form-span °С
						
						//single form item
						.form-item-group
							.form-label Давление горячей воды
							.form-item
								input.form-inp(type="number"  name="p15"  required)

						//single form item
						.form-item-group
							.form-label Давление холодной воды
							.form-item
								input.form-inp(type="number"  name="p16"  required)
								
						//single form item
						.form-item-group
							.form-label Расход циркуляционной воды
							.form-item
								input.form-inp(type="number"  name="p17"  required)
								
						
						//single form item
						.form-item-group
							.form-label Падение давления на линии циркуляции ГВС
							.form-item
								input.form-inp(type="number"  name="p18"  required)
								
						
						//single form item
						.form-item-group
							.form-label Объем системы
								
							.form-item
								input.form-inp(type="number"  name="p19"  required)
								span.form-span м#[sup 3]
					
				.fieldset-group
					.fieldset-group-title Технологические нужды
					.form-two-cols
						//single form item
						.form-item-group
							.form-label Мощность кВт (или пиковый расход м3/час)
							.form-item
								input.form-inp(type="number" name="p20"  required)
								
						//single form item
						.form-item-group
							.form-label Температура на входе / выходе
							.form-item
								input.form-inp(type="number" name="p21"  required)
								span.form-span °С
						
						//single form item
						.form-item-group
							.form-label Максимальное рабочее давление
								span.hide-xl (кг/см#[sup 2])
							.form-item
								input.form-inp(type="number" name="p22"  required)
								span.form-span.hide-xs кг/см#[sup 2]
						
						//single form item
						.form-item-group
							.form-label Перепад давления
								span.hide-xl (кг/см#[sup 2])
							.form-item
								input.form-inp(type="number" name="p23"  required)
								span.form-span.hide-xs кг/см#[sup 2]
								
						//single form item
						.form-item-group
							.form-label Высота верхней точки системы
							.form-item
								input.form-inp(type="number" name="p24"  required)
								span.form-span.hide-xs  м.
								
						
						//single form item
						.form-item-group
							.form-label Объем системы
							.form-item
								input.form-inp(type="number" name="p25"  required)
								span.form-span м#[sup 3]
				
				//Поле комментария
				.fieldset-group 
					.form-item-group
						.form-label Примечание
						textarea.form-textarea(name="COMMENTS" id="input")
				.form-footer
					p.fs-15.txt-grey * Если вы затрудняетесь в определении каких-либо значений, свяжитесь с нами, мы поможем их определить, основываясь на дополнительной информации о процессе / установке. Поля, отмеченные *, являются обязательными для заполнения.
					.agree-block
						label.agree-block-label
							input(type="checkbox")
							span Принимаю условия политики конфиден&shy;ци&shy;аль&shy;ности и обработки персональных данных
					.form-button-wrapper
						button.form-button(type="submit") Отправить
block variables
	-var title = " Паровой тепловой пункт";
