extends ../layouts/layout.pug

block content
	.form-wrapper
		.form-wrapper-title Конденсатный насос и станция сбора и возврата конденсата
		form.custom-form.js-validate-form
			//BLOCK №1
			.fieldset
				.fieldset-title 1. Контактная информация
				.form-two-cols
					//single form item
					.form-item-group
						.form-label Название компании*
						.form-item
							input.form-inp(type="text" name="COMPANY_TITLE" value="<?= $data['COMPANY_TITLE'] ?>" data-required)
					
					//single form item
					.form-item-group
						.form-label Контактное лицо*
						.form-item
							input.form-inp(type="text" name="NAME" value="<?= $data['NAME'] ?>"  data-required)
							
					//single form item
					.form-item-group
						.form-label Телефон/факс*
						.form-item
							input.form-inp.phone(type="text" name="PHONE" value="<?= $data['PHONE'] ?>" data-required)
				
					//single form item
					.form-item-group
						.form-label E-mail*
						.form-item
							input.form-inp(type="email" name="EMAIL" value="<?= $data['EMAIL'] ?>" data-required)
			//BLOCK №2
			.fieldset
				.fieldset-title 2. Параметры
				//группа Продукт
				.fieldset-group
					.fieldset-group-title Продукт
					.form-two-cols
						//single form item
						.form-item-group
							.form-label Максимальный расход конденсата
							.form-item
								input.form-inp(type="number" id="trashod" name="trashod" value="<?= $data['trashod'] ?>" )
								span.form-span кг/ч
						//single form item
						.form-item-group
							.form-label Количество источников конденсата
							.form-item
								input.form-inp(type="number" name="tkolist" value="<?= $data['tkolist'] ?>"  id="tkolist")
								span.form-span шт
					
					//single form item
					.form-item-group.four-inputs
						.form-label Расход на каждом источнике
						.inputs-row
							.form-item
								input.form-inp(type="number" name="trashod1" id="trashod1")
								span.form-span кг/ч
						
							.form-item
								input.form-inp(type="number" name="trashod2" id="trashod2" )
								span.form-span кг/ч
						
							.form-item
								input.form-inp(type="number" name="trashod3" id="trashod3")
								span.form-span кг/ч
						
							.form-item
								input.form-inp(type="number" name="trashod4" id="trashod4")
								span.form-span кг/ч
					
					//single form item
					.form-item-group.four-inputs
						.form-label Температура конденсата
						.inputs-row
							.form-item
								input.form-inp.error(type="number" name="ttemp1" id="ttemp1")
								span.form-span °С
							
							.form-item
								input.form-inp.error(type="number" name="ttemp2" id="ttemp2")
								span.form-span °С
							
							.form-item
								input.form-inp.error(type="number" name="ttemp3" id="ttemp3")
								span.form-span °С
							
							.form-item
								input.form-inp.error(type="number" name="ttemp4" id="ttemp4")
								span.form-span °С
					
					.form-two-cols
						//single form item
						.form-item-group
							.form-label Для электрического насоса указать требуемое давление на выходе насоса
							.form-item
								input.form-inp(type="number" name="tdavlenie" value="<?= $data['tdavlenie'] ?>" id="tdavlenieElectr")
								span.form-span bar
						//single form item
						.form-item-group
							.form-label Для механического насоса указать величину противодавления в конденсатной линии
							.form-item
								input.form-inp(type="number" name="tdavlenie" value="<?= $data['tdavlenie'] ?>" id="tdavlenie")
								span.form-span bar
						
						
						//single form item
						.form-item-group
							.form-label Место расположения
							.dropdown
								button.dropdown__button(type="button" aria-haspopup="listbox" aria-expanded="false") В помещении
								.dropdown__list
									ul
										li.dropdown__list-item
											label.form-radio-label
												input(type="radio"  name="rrasp"  value="2" checked id="place-02")
												span.fake-radio
												span.form-radio-name В помещении
										li.dropdown__list-item
											label.form-radio-label
												input(type="radio" name="rrasp"  value="1"  id="place-02")
												.fake-radio
												span.form-radio-name На улице
										
						//single form item
						.form-item-group
							.form-label Комплектация
							.dropdown
								button.dropdown__button(type="button" aria-haspopup="listbox" aria-expanded="false") 
								.dropdown__list
									ul
										li.dropdown__list-item
											label.form-radio-label
												input(type="radio"  name=""  value="" checked )
												span.form-radio-name Только насос
										li.dropdown__list-item
											label.form-radio-label
												input(type="radio"  name=""  value="" )
												span.form-radio-name Комплектная, оборудование "россыпью"
										li.dropdown__list-item
											label.form-radio-label
												input(type="radio"  name=""  value="" )
												span.form-radio-name Установка в сборе, на несущей раме
			//BLOCK №3
			.fieldset.border-0
				.fieldset-title 3. Тип насоса
				//Тип Электрический
				.fieldset-group
					.fieldset-group-title Электрический
					
					.form-two-cols
						//single form item
						.form-item-group
							.form-label Напряжение питания
							.dropdown
								button.dropdown__button(type="button" aria-haspopup="listbox" aria-expanded="false") 1 X 230В
								.dropdown__list
									ul
										li.dropdown__list-item
											label.form-radio-label
												input(type="radio"  id="vol-01" name="rvolt" value="1" checked )
												span.form-radio-name 1х230В
										li.dropdown__list-item
											label.form-radio-label
												input(type="radio" id="vol-02" name="rvolt" value="2")
												span.form-radio-name 3 Х 380В
								
						.form-item-group
							.form-label Количество насосов
							.form-radio-row
								label.form-radio-label
									input(type="radio" checked  id="pamp-01" name="rpamp" value="1")
									span.fake-radio
									span.form-radio-name 1
								
								label.form-radio-label
									input(type="radio" id="pamp-02" name="rpamp" value="2")
									span.fake-radio
									span.form-radio-name 2
								
						
						//single form item
						.form-item-group
							.form-label Визуальный контроль уровня в конденсатной емкости
							.form-item
								input.form-inp(type="text" name="cvizkontr1" value="1")
								
						
						//single form item
						.form-item-group
							.form-label Выходной сигнал уровня
							.dropdown
								button.dropdown__button(type="button" aria-haspopup="listbox" aria-expanded="false") 0(4)…20мА
								.dropdown__list
									ul
										li.dropdown__list-item
											label.form-radio-label
												input(type="radio"  id="exlevel-01" name="exitlevel" value="1" checked )
												span.form-radio-name 0(4)…20мА
										li.dropdown__list-item
											label.form-radio-label
												input(type="radio" id="exlevel-01" name="exitlevel" value="2")
												span.form-radio-name 0 (2)…10В
										li.dropdown__list-item
											label.form-radio-label
												input(type="radio" id="exlevel-01" name="exitlevel" value="3")
												span.form-radio-name Дискретные сигналы предельных уровней
								
								
				//Тип Механический
				.fieldset-group
					.fieldset-group-title Механический
					
					.form-two-cols
						//single form item
						.form-item-group
							.form-label Рабочая среда
							.dropdown
								button.dropdown__button(type="button" aria-haspopup="listbox" aria-expanded="false") Пар
								.dropdown__list
									ul
										li.dropdown__list-item
											label.form-radio-label
												input(type="radio"  name="rsreda" value="1" checked )
												span.form-radio-name Пар
										li.dropdown__list-item
											label.form-radio-label
												input(type="radio"  name="rsreda" value="2")
												span.form-radio-name Сжатый воздух
						//single form item
						.form-item-group
							.form-label Располагаемое давление 
							.form-item
								input.form-inp(type="number" name="traspdav" value="<?= $data['traspdav'] ?>" id="input4")
								span.form-span bar
						//single form item
						.form-item-group
							.form-label Температура
							.form-item
								input.form-inp(type="number" name="ttem" value="<?= $data['ttem'] ?>" )
								span.form-span °С
						
					//single form item
					.form-item-group.checkbox-group-rows
						label.form-checkbox-label
							input(type="checkbox"  name="cvizkontr" value="1")
							span.form-checkbox-name Визуальный контроль уровня конденсата в насосе 
						
						label.form-checkbox-label
							input(type="checkbox"  name="cimpcounter" value="1")
							span.form-checkbox-name Счетчик импульсов для подсчета объема перекаченного конденсата
					
						
				//Поле комментария
				.fieldset-group 
					.form-item-group
						.form-label Примечание
						textarea.form-textarea(name="COMMENTS" id="input")
				.form-footer
					p.fs-15.txt-grey * Если вы затрудняетесь в определении каких-либо значений, свяжитесь с нами, мы поможем их определить, основываясь на дополнительной информации о процессе / установке. Поля, отмеченные *, являются обязательными для заполнения.
					.agree-block
						label.agree-block-label
							input(type="checkbox")
							span Принимаю условия политики конфиден&shy;ци&shy;аль&shy;ности и обработки персональных данных
					.form-button-wrapper
						button.form-button(type="submit") Отправить
block variables
	-var title = "Конденсатный насос";
