extends ../layouts/layout.pug

block content
	.start-page(style="background: white;")
		h1 Опросные листы
		.start-page__cards
			a(href="./ui/colors.html") UI-KIT
			a(href="./index0.html") Конденсатный насос и станция сбора
			a(href="./index1.html") Конденсатоотводчик
			a(href="./index2.html") Регулирующий клапан
			a(href="./index3.html") Обвязка калорифера
			a(href="./index4.html") Охладитель пара
			a(href="./index5.html") Паровой тепловой пункт
			a(href="./index6.html") Паровой теплообменник
			a(href="./index7.html") Регулятор прямого действия
			a(href="./index8.html") РОУ
			a(href="./index9.html") Эжектор
			a(href="./index10.html") Техническая экспертиза
			a(href="./index11.html") Заявка на установку Автоматической станции ГВС SteamAqua
		.start-page__cards
			a(href="#!") Калькулляторы
			a(href="calc-main.html") Калькуляторы. Главная
			a(href="./index1.html") Конденсатоотводчик
		
			
	-var title = "Оформление";
