extends ../layouts/layout.pug

block content
	.start-page(style="background: white;")
		h1 Опросные листы
		.start-page__cards
			//- a(href="./ui/colors.html") UI-KIT
			a(href="./kondensatni-nasos.html") Конденсатный насос и станция сбора
			a(href="./kondensatootvodchik.html") Конденсатоотводчик
			a(href="./regulirushy-klapan.html") Регулирующий клапан
			a(href="./obviazka-kalorifera.html") Обвязка калорифера
			a(href="./ejector.html") Эжектор
			a(href="./zayvka-steamAqua.html") Заявка на установку Автоматической станции ГВС SteamAqua
			a(href="./ohladitel-para.html") Охладитель пара
			a(href="./parovoy-teplovoy-punkt.html") Паровой тепловой пункт
			a(href="./parovoy-teploobmennik.html") Паровой теплообменник
			a(href="./regulator-pryamogo-deystvya.html") Регулятор прямого действия
			a(href="./rou.html") РОУ
			a(href="./tehcnicheskya-expertiza.html") Техническая экспертиза

			
			
			
			
			
			
	-var title = "Оформление";
