extends ../layouts/layout.pug

block content
	.start-page(style="background: white;")
		h1 CRM
		.start-page__cards
			a(href="./ui/colors.html") UI-KIT
			a(href="./home.html") Главная
			
	-var title = "Оформление";
