extends ../layouts/layout.pug

block content
	.form-wrapper
		.form-wrapper-title Опросный лист Конденсатоотводчик
		form.custom-form.js-validate-form
			//BLOCK №1 Контактная информация
			.fieldset
				.fieldset-title 1. Контактная информация
				.form-two-cols
					//single form item
					.form-item-group
						.form-label Название компании*
						.form-item
							input.form-inp(type="text" name="COMPANY_TITLE" value="<?= $data['COMPANY_TITLE'] ?>" data-required)
					
					//single form item
					.form-item-group
						.form-label Контактное лицо*
						.form-item
							input.form-inp(type="text" name="NAME" value="<?= $data['NAME'] ?>"  data-required)
							
					//single form item
					.form-item-group
						.form-label Телефон/факс*
						.form-item
							input.form-inp.phone(type="text" name="PHONE" value="<?= $data['PHONE'] ?>" data-required)
				
					//single form item
					.form-item-group
						.form-label E-mail*
						.form-item
							input.form-inp(type="email" name="EMAIL" value="<?= $data['EMAIL'] ?>" data-required)

			
			//BLOCK №2
			.fieldset.border-0
				.fieldset-title 2. Параметры
				
				//группа внутри одного fieldset
				.fieldset-group.fieldset-sticky-header
					//ряд
					.fieldset-sticky-title.fieldset-sticky-row
						//Левая колонка
						.fieldset-group-title Параметр
						//Три правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell.fs-15 Конденсато&shy;отводчик №1
								.fieldset-cell.fs-15 Конденсато&shy;отводчик №2
								.fieldset-cell.fs-15 Конденсато&shy;отводчик №3
					
					//ряд
					.fieldset-sticky-row
						//Левая колонка
						.fieldset-cell-name Расход конденсата:
						
						//Три правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="number" name="krashod1" value="<?= $data['krashod1'] ?>")
									span.form-span кг/ч
								.fieldset-cell.form-item
									input.form-inp(type="number" name="krashod2" value="<?= $data['krashod2'] ?>")
									span.form-span кг/ч
								.fieldset-cell.form-item
									input.form-inp(type="number" name="krashod3" value="<?= $data['krashod3'] ?>")
									span.form-span кг/ч
					//ряд
					.fieldset-sticky-row
						//Левая колонка
						.fieldset-cell-name Давление перед конденсатоотводчиком
						
						//Три правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="number" name="davpered1"  value="<?= $data['davpered1'] ?>")
									span.form-span бар изб
								.fieldset-cell.form-item
									input.form-inp(type="number" name="davpered2"  value="<?= $data['davpered2'] ?>")
									span.form-span бар изб
								.fieldset-cell.form-item
									input.form-inp(type="number" name="davpered3"  value="<?= $data['davpered3'] ?>")
									span.form-span бар изб

					//ряд
					.fieldset-sticky-row
						//Левая колонка
						.fieldset-cell-name Давление за конденсатоотводчиком #[span.fs-15 (противодавление в конденсатной линии)]
						
						//Три правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="number"  name="davza1" value="<?= $data['davza1'] ?>")
									span.form-span бар изб
								.fieldset-cell.form-item
									input.form-inp(type="number"  name="davza2" value="<?= $data['davza2'] ?>")
									span.form-span бар изб
								.fieldset-cell.form-item
									input.form-inp(type="number"  name="davza3" value="<?= $data['davza3'] ?>")
									span.form-span бар изб
					//ряд
					.fieldset-sticky-row
						//Левая колонка
						.fieldset-cell-name Мин. температура окружающей среды
						
						//Три правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="number" name="mint1" value="<?= $data['mint1'] ?>" )
									span.form-span °С
								.fieldset-cell.form-item
									input.form-inp(type="number" name="mint2" value="<?= $data['mint2'] ?>" )
									span.form-span °С
								.fieldset-cell.form-item
									input.form-inp(type="number" name="mint3" value="<?= $data['mint3'] ?>" )
									span.form-span °С
					
					//ряд
					.fieldset-sticky-row
						//Левая колонка
						.fieldset-cell-name Температура пара #[span.fs-15 (указать только если пар перегретый)]
						
						//Три правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="number" name="part1" value="<?= $data['part1'] ?>")
									span.form-span °С
								.fieldset-cell.form-item
									input.form-inp(type="number" name="part2" value="<?= $data['part2'] ?>")
									span.form-span °С
								.fieldset-cell.form-item
									input.form-inp(type="number" name="part3" value="<?= $data['part3'] ?>")
									span.form-span °С
							
					//ряд
					.fieldset-sticky-row
						//Левая колонка
						.fieldset-cell-name Место установки: #[span.fs-15 дренаж паропровода, теплообменник,  пароспутник, другое #[strong (указать)]]
						
						//Три правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="text"  name="mplace1"  value="<?= $data['mplace1'] ?>")
									
								.fieldset-cell.form-item
									input.form-inp(type="text"  name="mplace2"  value="<?= $data['mplace2'] ?>")
									
								.fieldset-cell.form-item
									input.form-inp(type="text"  name="mplace3"  value="<?= $data['mplace3'] ?>")
									
					
					
					.fieldset-sticky-row
						//Левая колонка
						.fieldset-cell-name Тип присоединения
						
						//Три правые колонки
						.fieldset-sticky-cols.special-checkbox-wrapper
							.inner-row-title Резьбовой
							.inner-row.h-auto
								.fieldset-cell
									label.form-radio-label
										input(type="radio"  name="tipp1" value="1")
										span.fake-radio
										span.form-radio-name Резьбовой
								.fieldset-cell
									label.form-radio-label
										input(type="radio"  name="tipp2" value="1")
										span.fake-radio
										span.form-radio-name Резьбовой
								.fieldset-cell
									label.form-radio-label
										input(type="radio"  name="tipp3" value="1")
										span.fake-radio
										span.form-radio-name Резьбовой
							
							.inner-row-title Фланцевый
							.inner-row.h-auto
								.fieldset-cell
									label.form-radio-label
										input(type="radio"  name="tipp1" value="2")
										span.fake-radio
										span.form-radio-name Фланцевый
								.fieldset-cell
									label.form-radio-label
										input(type="radio"  name="tipp2" value="2")
										span.fake-radio
										span.form-radio-name Фланцевый
								.fieldset-cell
									label.form-radio-label
										input(type="radio"  name="tipp3" value="2")
										span.fake-radio
										span.form-radio-name Фланцевый
							
							.inner-row-title Приварной
							.inner-row.h-auto
								.fieldset-cell
									label.form-radio-label
										input(type="radio"  name="tipp1" value="3")
										span.fake-radio
										span.form-radio-name Приварной
								.fieldset-cell
									label.form-radio-label
										input(type="radio"  name="tipp2" value="3")
										span.fake-radio
										span.form-radio-name Приварной
								.fieldset-cell
									label.form-radio-label
										input(type="radio"  name="tipp3" value="3")
										span.fake-radio
										span.form-radio-name Приварной
									
									
					//ряд
					.fieldset-sticky-subgroup
						.sticky-subgroup-title.h-20 Дополнительное оборудование:
						//row
						.fieldset-sticky-row
							//Левая колонка
							.fieldset-cell-name Фильтр
							
							//Три правые колонки
							.fieldset-sticky-cols.fieldset-cell--center
								.inner-row
									.fieldset-cell
										label.form-checkbox-label
											input(type="checkbox"  name="filter1" value="1")
									.fieldset-cell
										
										label.form-checkbox-label
											input(type="checkbox"  name="filter2" value="1")
									.fieldset-cell
										
										label.form-checkbox-label
											input(type="checkbox" name="filter3" value="1")
						//row
						.fieldset-sticky-row
							.fieldset-cell-name Обратный клапан
							//Три правые колонки
							.fieldset-sticky-cols.fieldset-cell--center
								.inner-row
									.fieldset-cell
										label.form-checkbox-label
											input(type="checkbox"  name="obrklap1" value="1")
									.fieldset-cell
										
										label.form-checkbox-label
											input(type="checkbox"  name="obrklap2" value="1")
									.fieldset-cell
										
										label.form-checkbox-label
											input(type="checkbox"  name="obrklap3" value="1")
						//row
						.fieldset-sticky-row
							.fieldset-cell-name Отсечные вентили / байпасный вентиль
							//Три правые колонки
							.fieldset-sticky-cols.fieldset-cell--center
								.inner-row
									.fieldset-cell
										label.form-checkbox-label
											input(type="checkbox"  name="ventil1" value="1")
									.fieldset-cell
										
										label.form-checkbox-label
											input(type="checkbox"  name="ventil2" value="1")
											
									.fieldset-cell
										label.form-checkbox-label
											input(type="checkbox"  name="ventil3" value="1")
						//row
						.fieldset-sticky-row
							.fieldset-cell-name Продувочный кран
							//Три правые колонки
							.fieldset-sticky-cols.fieldset-cell--center
								.inner-row
									.fieldset-cell
										label.form-checkbox-label
											input(type="checkbox" name="prokran1" value="1")
											
									.fieldset-cell
										label.form-checkbox-label
											input(type="checkbox" name="prokran2" value="1")
											
									.fieldset-cell
										label.form-checkbox-label
											input(type="checkbox" name="prokran3" value="1")
						//row
						.fieldset-sticky-row
							.fieldset-cell-name Прерыватель вакуума
							//Три правые колонки
							.fieldset-sticky-cols.fieldset-cell--center
								.inner-row
									.fieldset-cell
										label.form-checkbox-label
											input(type="checkbox" name="prervak1" value="1" )
									.fieldset-cell
										
										label.form-checkbox-label
											input(type="checkbox" name="prervak2" value="1" )
									.fieldset-cell
										label.form-checkbox-label
											input(type="checkbox" name="prervak3" value="1" )
							
				//Поле комментария
				.fieldset-group 
					.form-item-group
						.form-label Примечание
						textarea.form-textarea(name="COMMENTS" id="input")
				.form-footer
					p.fs-15.txt-grey * Если вы затрудняетесь в определении каких-либо значений, свяжитесь с нами, мы поможем их определить, основываясь на дополнительной информации о процессе / установке. Поля, отмеченные *, являются обязательными для заполнения.
					.agree-block
						label.agree-block-label
							input(type="checkbox")
							span Принимаю условия политики конфиден&shy;ци&shy;аль&shy;ности и обработки персональных данных
					.form-button-wrapper
						button.form-button(type="submit") Отправить
block variables
	-var title = "Конденсатоотводчик";
