extends ../layouts/layout.pug

block content
	.form-wrapper
		.form-wrapper-title Опросный лист Конденсатоотводчик
		form.custom-form.js-validate-form
			//BLOCK №1 Контактная информация
			.fieldset
				.fieldset-title 1. Контактная информация
				.form-two-cols
					//single form item
					.form-item-group
						.form-label Название компании*
						.form-item
							input.form-inp(type="text" name="inp_name" data-required)
					
					//single form item
					.form-item-group
						.form-label Контактное лицо*
						.form-item
							input.form-inp(type="text" name="name" data-required)
							
					//single form item
					.form-item-group
						.form-label Телефон/факс*
						.form-item
							input.form-inp.phone(type="text" name="phone" data-required)
				
					//single form item
					.form-item-group
						.form-label E-mail*
						.form-item
							input.form-inp(type="email" name="email")

			
			//BLOCK №2
			.fieldset
				.fieldset-title 2. Параметры
				
				//группа внутри одного fieldset
				.fieldset-group.fieldset-sticky-header
					//ряд
					.fieldset-sticky-title.fieldset-sticky-row
						//Левая колонка
						.fieldset-group-title Параметр
						//Три правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell.fs-15 Конденсато&shy;отводчик №1
								.fieldset-cell.fs-15 Конденсато&shy;отводчик №2
								.fieldset-cell.fs-15 Конденсато&shy;отводчик №3
					
					//ряд
					.fieldset-sticky-row
						//Левая колонка
						.fieldset-cell-name Расход конденсата:
						
						//Три правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span кг/ч
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span кг/ч
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span кг/ч
					//ряд
					.fieldset-sticky-row
						//Левая колонка
						.fieldset-cell-name Давление перед конденсатоотводчиком
						
						//Три правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span бар изб
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span бар изб
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span бар изб

					//ряд
					.fieldset-sticky-row
						//Левая колонка
						.fieldset-cell-name Давление за конденсатоотводчиком #[span.fs-15 (противодавление в конденсатной линии)]
						
						//Три правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span бар изб
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span бар изб
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span бар изб
					//ряд
					.fieldset-sticky-row
						//Левая колонка
						.fieldset-cell-name Мин. температура окружающей среды
						
						//Три правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span °С
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span °С
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span °С
					
					//ряд
					.fieldset-sticky-row
						//Левая колонка
						.fieldset-cell-name Температура пара #[span.fs-15 (указать только если пар перегретый)]
						
						//Три правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span °С
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span °С
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span °С
							
					//ряд
					.fieldset-sticky-row
						//Левая колонка
						.fieldset-cell-name Место установки: #[span.fs-15 дренаж паропровода, теплообменник,  пароспутник, другое #[strong (указать)]]
						
						//Три правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="text")
									
								.fieldset-cell.form-item
									input.form-inp(type="text")
									
								.fieldset-cell.form-item
									input.form-inp(type="text")
									
					
					
					.fieldset-sticky-row
						//Левая колонка
						.fieldset-cell-name Тип присоединения
						
						//Три правые колонки
						.fieldset-sticky-cols.special-checkbox-wrapper
							.inner-row-title Резьбовой
							.inner-row.h-auto
								.fieldset-cell
									label.form-checkbox-label
										input(type="checkbox" name="chbox1" value="")
										span.form-checkbox-name Резьбовой
								.fieldset-cell
									label.form-checkbox-label
										input(type="checkbox" name="chbox2" value="")
										span.form-checkbox-name Резьбовой
								.fieldset-cell
									label.form-checkbox-label
										input(type="checkbox" name="chbox3" value="")
										span.form-checkbox-name Резьбовой
							
							.inner-row-title Фланцевый
							.inner-row.h-auto
								.fieldset-cell
									label.form-checkbox-label
										input(type="checkbox" name="chbox4" value="")
										span.form-checkbox-name  Фланцевый
								.fieldset-cell
									label.form-checkbox-label
										input(type="checkbox" name="chbox5" value="")
										span.form-checkbox-name Фланцевый
								.fieldset-cell
									label.form-checkbox-label
										input(type="checkbox" name="chbox6" value="")
										span.form-checkbox-name  Фланцевый
							
							.inner-row-title Приварной
							.inner-row.h-auto
								.fieldset-cell
									label.form-checkbox-label
										input(type="checkbox" name="chbox7" value="")
										span.form-checkbox-name Приварной
								.fieldset-cell
									label.form-checkbox-label
										input(type="checkbox" name="chbox8" value="")
										span.form-checkbox-name Приварной
								.fieldset-cell
									label.form-checkbox-label
										input(type="checkbox" name="chbox9" value="")
										span.form-checkbox-name Приварной
									
									
					//ряд
					.fieldset-sticky-subgroup
						.sticky-subgroup-title.h-20 Дополнительное оборудование:
						//row
						.fieldset-sticky-row
							//Левая колонка
							.fieldset-cell-name Фильтр
							
							//Три правые колонки
							.fieldset-sticky-cols.fieldset-cell--center
								.inner-row
									.fieldset-cell
										label.form-checkbox-label
											input(type="checkbox" name="chbox10" value="")
									.fieldset-cell
										
										label.form-checkbox-label
											input(type="checkbox" name="chbox11" value="")
									.fieldset-cell
										
										label.form-checkbox-label
											input(type="checkbox" name="chbox12" value="")
						//row
						.fieldset-sticky-row
							.fieldset-cell-name Обратный клапан
							//Три правые колонки
							.fieldset-sticky-cols.fieldset-cell--center
								.inner-row
									.fieldset-cell
										label.form-checkbox-label
											input(type="checkbox" name="chbox13" value="")
									.fieldset-cell
										
										label.form-checkbox-label
											input(type="checkbox" name="chbox14" value="")
									.fieldset-cell
										
										label.form-checkbox-label
											input(type="checkbox" name="chbox15" value="")
						//row
						.fieldset-sticky-row
							.fieldset-cell-name Отсечные вентили / байпасный вентиль
							//Три правые колонки
							.fieldset-sticky-cols.fieldset-cell--center
								.inner-row
									.fieldset-cell
										label.form-checkbox-label
											input(type="checkbox" name="chbox16" value="")
									.fieldset-cell
										
										label.form-checkbox-label
											input(type="checkbox" name="chbox17" value="")
											
									.fieldset-cell
										label.form-checkbox-label
											input(type="checkbox" name="chbox18" value="")
						//row
						.fieldset-sticky-row
							.fieldset-cell-name Продувочный кран
							//Три правые колонки
							.fieldset-sticky-cols.fieldset-cell--center
								.inner-row
									.fieldset-cell
										label.form-checkbox-label
											input(type="checkbox" name="chbox19" value="")
											
									.fieldset-cell
										label.form-checkbox-label
											input(type="checkbox" name="chbox20" value="")
											
									.fieldset-cell
										label.form-checkbox-label
											input(type="checkbox" name="chbox21" value="")
						//row
						.fieldset-sticky-row
							.fieldset-cell-name Прерыватель вакуума
							//Три правые колонки
							.fieldset-sticky-cols.fieldset-cell--center
								.inner-row
									.fieldset-cell
										label.form-checkbox-label
											input(type="checkbox" name="chbox22" value="")
									.fieldset-cell
										
										label.form-checkbox-label
											input(type="checkbox" name="chbox23" value="")
									.fieldset-cell
										label.form-checkbox-label
											input(type="checkbox" name="chbox24" value="")
							
				//Поле комментария
				.fieldset-group 
					.form-item-group
						.form-label Примечание
						textarea.form-textarea(name="message")
				.form-footer
					p.fs-15.txt-grey * Если вы затрудняетесь в определении каких-либо значений, свяжитесь с нами, мы поможем их определить, основываясь на дополнительной информации о процессе / установке. Поля, отмеченные *, являются обязательными для заполнения.
					.agree-block
						label.agree-block-label
							input(type="checkbox")
							span Принимаю условия политики конфиденциальности и обработки персональных данных
					.form-button-wrapper
						button.form-button(type="submit") Отправить
block variables
	-var title = "Конденсатоотводчик";
