extends ../layouts/layout.pug

block content
	.form-wrapper
		.form-wrapper-title Конденсатный насос и станция сбора и возврата конденсата
		form.custom-form.js-validate-form
			//BLOCK №1
			.fieldset
				.fieldset-title 1. Контактная информация
				.form-two-cols
					//single form item
					.form-item-group
						.form-label Название компании*
						.form-item
							input.form-inp(type="text" name="COMPANY_TITLE" value="<?= $data['COMPANY_TITLE'] ?>" data-required)
					
					//single form item
					.form-item-group
						.form-label Контактное лицо*
						.form-item
							input.form-inp(type="text" name="NAME" value="<?= $data['NAME'] ?>"  data-required)
							
					//single form item
					.form-item-group
						.form-label Телефон/факс*
						.form-item
							input.form-inp.phone(type="text" name="PHONE" value="<?= $data['PHONE'] ?>" data-required)
				
					//single form item
					.form-item-group
						.form-label E-mail*
						.form-item
							input.form-inp(type="email" name="EMAIL" value="<?= $data['EMAIL'] ?>" data-required)
			//BLOCK №2
			.fieldset
				.fieldset-title 2. Параметры
				//группа Продукт
				.fieldset-group
					.fieldset-group-title Продукт
					.form-two-cols
						//single form item
						.form-item-group
							.form-label Максимальный расход конденсата
							.form-item
								input.form-inp(type="number" id="trashod" name="trashod" value="<?= $data['trashod'] ?>" )
								span.form-span кг/ч
						//single form item
						.form-item-group
							.form-label Количество источников конденсата
							.form-item
								input.form-inp(type="number" name="tkolist" value="<?= $data['tkolist'] ?>"  id="tkolist")
								span.form-span шт
					
						//single form item
						.form-item-group
							.form-label Расход на каждом источнике
							.form-item.error
								input.form-inp.error(type="number" name="" )
								span.form-span кг/ч

						//single form item
						.form-item-group
							.form-label Температура конденсата
							.form-item
								input.form-inp.error(type="number" name="name")
								span.form-span °С
								
						//single form item
						.form-item-group
							.form-label Для электрического насоса указать требуемое давление на выходе насоса
							.form-item
								input.form-inp(type="number" name="name")
								span.form-span bar
						//single form item
						.form-item-group
							.form-label Для механического насоса указать величину противодавления в конденсатной линии
							.form-item
								input.form-inp(type="number" name="tdavlenie" id="tdavlenie")
								span.form-span bar
						
						
						//single form item
						.form-item-group
							.form-label Место расположения
							.dropdown
								button.dropdown__button(type="button" aria-haspopup="listbox" aria-expanded="false") В помещении
								.dropdown__list
									ul
										li.dropdown__list-item
											label.form-radio-label
												input(type="radio"  name="rrasp"  value="2" checked id="place-02")
												span.fake-radio
												span.form-radio-name В помещении
										li.dropdown__list-item
											label.form-radio-label
												input(type="radio" name="rrasp"  value="1"  id="place-02")
												.fake-radio
												span.form-radio-name На улице
										
						//single form item
						.form-item-group
							.form-label Комплектация
							.dropdown
								button.dropdown__button(type="button") Только насос
								.dropdown__list
									ul
										li.dropdown__list-item(data-value="Текст1") Текст 1
										li.dropdown__list-item(data-value="Текст2") Текст 2
										li.dropdown__list-item(data-value="Текст3") Текст 3
										li.dropdown__list-item(data-value="Текст4") Текст 4
								
								//==== в этот скрытый инпут в качестве value  выводится значение из data-value у.dropdown__list-item ===
								input.dropdown__input-hidden(type="hidden", name="")
				
			//BLOCK №3
			.fieldset.border-0
				.fieldset-title 3. Тип насоса
				//Тип Электрический
				.fieldset-group
					.fieldset-group-title Электрический
					
					.form-two-cols
						//single form item
						.form-item-group
							.form-label Напряжение питания
							.dropdown
								button.dropdown__button(type="button") 1 X 230В
								.dropdown__list
									ul
										li.dropdown__list-item(data-value="1" id="vol-01") 1х230В
										li.dropdown__list-item(data-value="2" id="vol-02") 3х380В
								//==== в этот скрытый инпут в качестве value  выводится значение из data-value у.dropdown__list-item ===
								input.dropdown__input-hidden(type="hidden", name="rvolt")
						
						.form-item-group
							.form-label Количество насосов
							.form-radio-row
								label.form-radio-label
									input(type="radio" checked id="pamp-01" name="rpamp" value="1")
									span.fake-radio
									span.form-radio-name 1
								
								label.form-radio-label
									input(type="radio" id="pamp-02" name="rpamp" value="2")
									span.fake-radio
									span.form-radio-name 2
								
								label.form-radio-label
									input(type="radio" id="pamp-03" name="rpamp" value="3")
									span.fake-radio
									span.form-radio-name 3
						
						//single form item
						.form-item-group
							.form-label Визуальный контроль уровня в конденсатной емкости
							.form-item
								input.form-inp(type="text" name="cvizkontr1" value="1")
								
						
						//single form item
						.form-item-group
							.form-label Выходной сигнал уровня
							.dropdown
								button.dropdown__button(type="button") 0(4)…20мА
								.dropdown__list
									ul
										li.dropdown__list-item(data-value="1") 0(4)…20мА
										li.dropdown__list-item(data-value="2") 0 (2)…10В
										li.dropdown__list-item(data-value="3") Дискретные сигналы предельных уровней
										
								
								//==== в этот скрытый инпут в качестве value  выводится значение из data-value у.dropdown__list-item ===
								input.dropdown__input-hidden(type="hidden", name="exitlevel")
			
				//Тип Механический
				.fieldset-group
					.fieldset-group-title Механический
					
					.form-two-cols
						//single form item
						.form-item-group
							.form-label Рабочая среда
							.dropdown
								button.dropdown__button(type="button") Пар
								.dropdown__list
									ul
										li.dropdown__list-item(data-value="1") Пар
										li.dropdown__list-item(data-value="2") Сжатый воздух
										
								
								//==== в этот скрытый инпут в качестве value  выводится значение из data-value у.dropdown__list-item ===
								input.dropdown__input-hidden(type="hidden", name="rsreda")
						
						//single form item
						.form-item-group
							.form-label Располагаемое давление 
							.form-item
								input.form-inp(type="number" name="tdav" value="" id="input2")
								span.form-span bar
						//single form item
						.form-item-group
							.form-label Температура
							.form-item
								input.form-inp(type="number" name="name")
								span.form-span °С
						
					//single form item
					.form-item-group.checkbox-group-rows
						label.form-checkbox-label
							input(type="checkbox"  name="cvizkontr" value="1")
							span.form-checkbox-name Визуальный контроль уровня конденсата в насосе 
						
						label.form-checkbox-label
							input(type="checkbox"  name="cimpcounter" value="1")
							span.form-checkbox-name Счетчик импульсов для подсчета объема перекаченного конденсата
					
						
				//Поле комментария
				.fieldset-group 
					.form-item-group
						.form-label Примечание
						textarea.form-textarea(name="COMMENTS" id="input")
				.form-footer
					p.fs-15.txt-grey * Если вы затрудняетесь в определении каких-либо значений, свяжитесь с нами, мы поможем их определить, основываясь на дополнительной информации о процессе / установке. Поля, отмеченные *, являются обязательными для заполнения.
					.agree-block
						label.agree-block-label
							input(type="checkbox")
							span Принимаю условия политики конфиден&shy;ци&shy;аль&shy;ности и обработки персональных данных
					.form-button-wrapper
						button.form-button(type="submit") Отправить
block variables
	-var title = "Конденсатный насос";
