extends ../layouts/layout.pug

block content
	.form-wrapper
		.form-wrapper-title Опросный лист. Регулирующий клапан
		form.custom-form.js-validate-form
			//BLOCK №1
			.fieldset
				.fieldset-title 1. Контактная информация
				.form-two-cols
					//single form item
					.form-item-group
						.form-label Название компании*
						.form-item
							input.form-inp(type="text" name="inp_name" data-required)
					
					//single form item
					.form-item-group
						.form-label Контактное лицо*
						.form-item
							input.form-inp(type="text" name="name" data-required)
							
					//single form item
					.form-item-group
						.form-label Телефон/факс*
						.form-item
							input.form-inp.phone(type="text" name="phone" data-required)
				
					//single form item
					.form-item-group
						.form-label E-mail*
						.form-item
							input.form-inp(type="email" name="email")
							
					//single form item
					.form-item-group
						.form-label Город*
						.form-item
							input.form-inp(type="text" name="city")
							
					//single form item
					.form-item-group
						.form-label Количество
						.form-item
							input.form-inp.phone(type="number" name="")
							span.form-span шт
			
			//BLOCK №2
			.fieldset
				.fieldset-title 2. Условия эксплуатации (рабочие условия)
				//группа Продукт
				.fieldset-group
					.fieldset-group-title Продукт
					.form-two-cols
						//single form item
						.form-item-group
							.form-label Наименование и состав
							.form-item
								input.form-inp(type="text" name="inp_name" )
								
						//single form item
						.form-item-group
							.form-label Температура продукта, в рабочем режима
							.form-item
								input.form-inp(type="number" name="name" )
								spqn.form-span °C

						//single form item
						.form-item-group
							.form-label Примеси/твердые частицы (концентрация, размеры)
							.form-item
								input.form-inp(type="text" name="name")
								
						//single form item
						.form-item-group
							.form-label Агрегатное состояние
							.dropdown
								button.dropdown__button(type="button") Выбрать
								
								.dropdown__list
									ul
										li.dropdown__list-item(data-value="Текст1") Текст 1
										li.dropdown__list-item(data-value="Текст2") Текст 2
										li.dropdown__list-item(data-value="Текст3") Текст 3
										li.dropdown__list-item(data-value="Текст4") Текст 4
								
								//==== в этот скрытый инпут в качестве value  выводится значение из data-value у.dropdown__list-item ===
								input.dropdown__input-hidden(type="hidden", name="")
				
				//группа внутри одного fieldset
				.fieldset-group.fieldset-sticky-header
					
					//ряд
					.fieldset-sticky-title.fieldset-sticky-row
						//Левая колонка
						.fieldset-group-title Режим работы
						//Три правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell I
								.fieldset-cell II
								.fieldset-cell III
					
					//ряд
					.fieldset-sticky-row.align-self-start
						//Левая колонка
						.fieldset-cell-name Расход#[br] #[span.fs-15 (для газа расход указан при стандартных условиях -20°C, 101,325кPа (ГОСТ2939))]
						
						//Три правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span min
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span min
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span min
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span nom
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span nom
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span nom
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span max
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span max
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span max

					//ряд
					.fieldset-sticky-row
						//Левая колонка
						.fieldset-cell-name Давление до клапана, избыточное
						
						//Три правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span bar
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span bar
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span bar
					
					//ряд
					.fieldset-sticky-row
						//Левая колонка
						.fieldset-cell-name Максимальный перепад давления
						
						//Три правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span bar
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span bar
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span bar
					
					//ряд
					.fieldset-sticky-row
						//Левая колонка
						.fieldset-cell-name Перепад давления
						
						//Три правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span bar
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span bar
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span bar

					//ряд
					.fieldset-sticky-row
						//Левая колонка
						.fieldset-cell-name Плотность продукта#[br] #[span.fs-15  (для газов плотность указана при стандартных условиях -20°С, 101,325kPa (ГОСТ2939))]
						
						//Три правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span кг/м3
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span кг/м3
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span кг/м3
					//ряд
					.fieldset-sticky-row
						//Левая колонка
						.fieldset-cell-name Максимальная температура продукта
						
						//Три правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span bar
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span bar
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span bar
					//ряд
					.fieldset-sticky-row
						//Левая колонка
						.fieldset-cell-name Температура окружающей среды
						
						// правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span min, °С
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span maх, °С
					
					//ряд
					.fieldset-sticky-row
						//Левая колонка
						.fieldset-cell-name Максимальное давление #[span.fs-15 (избыточное)]
						
						// правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span bar
					//ряд
					.fieldset-sticky-row
						//Левая колонка
						.fieldset-cell-name Максимальное давление #[span.fs-15 (избыточное)]
						
						// правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span bar
					//ряд
					.fieldset-sticky-row
						//Левая колонка
						.fieldset-cell-name Максимальное давление #[span.fs-15 (избыточное)]
						
						// правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span bar
					//ряд
					.fieldset-sticky-row
						//Левая колонка
						.fieldset-cell-name Максимальное давление #[span.fs-15 (избыточное)]
						
						// правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span bar
					//ряд
					.fieldset-sticky-row
						//Левая колонка
						.fieldset-cell-name Максимальное давление #[span.fs-15 (избыточное)]
						
						// правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span bar
					//ряд
					.fieldset-sticky-row
						//Левая колонка
						.fieldset-cell-name Максимальное давление #[span.fs-15 (избыточное)]
						
						// правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span bar
				
			
						
				//Поле комментария
				.fieldset-group 
					.form-item-group
						.form-label Примечание
						textarea.form-textarea(name="message")
				.form-footer
					p.fs-15.txt-grey * Если вы затрудняетесь в определении каких-либо значений, свяжитесь с нами, мы поможем их определить, основываясь на дополнительной информации о процессе / установке. Поля, отмеченные *, являются обязательными для заполнения.
					.agree-block
						label.agree-block-label
							input(type="checkbox")
							span Принимаю условия политики конфиденциальности и обработки персональных данных
					.form-button-wrapper
						button.form-button(type="submit") Отправить
block variables
	-var title = "Опросный лист";
