extends ../layouts/layout.pug

block content
	.form-wrapper
		.form-wrapper-title Опросный лист. Регулирующий клапан
		form.custom-form.js-validate-form(action="" )
			//BLOCK №1
			.fieldset
				.fieldset-title 1. Контактная информация
				.form-two-cols
					//single form item
					.form-item-group
						.form-label Название компании*
						.form-item
							input.form-inp(type="text" name="COMPANY_TITLE" data-required)
					
					//single form item
					.form-item-group
						.form-label Контактное лицо*
						.form-item
							input.form-inp(type="text" name="NAME" data-required)
							
					//single form item
					.form-item-group
						.form-label Телефон/факс*
						.form-item
							input.form-inp.phone(type="text" name="PHONE" data-required)
				
					//single form item
					.form-item-group
						.form-label E-mail*
						.form-item
							input.form-inp(type="email" name="EMAIL")
							
					//single form item
					.form-item-group
						.form-label Город*
						.form-item
							input.form-inp(type="text" name="CITY")
							
					//single form item
					.form-item-group
						.form-label Количество
						.form-item
							input.form-inp.phone(type="number" name="CNT")
							span.form-span шт
			
			//BLOCK №2
			.fieldset
				.fieldset-title 2. Условия эксплуатации (рабочие условия)
				//группа Продукт
				.fieldset-group
					.fieldset-group-title Продукт
					
					//single form item
					.form-item-group
						.form-label Наименование и состав
						.form-item
							input.form-inp(type="text" name="form_1" )
					
					.form-two-cols
						//single form item
						.form-item-group
							.form-label Температура продукта, в рабочем режима
							.form-item
								input.form-inp(type="number" name="form_7" value="")
								span.form-span °C

						//single form item
						.form-item-group
							.form-label Примеси/твердые частицы (концентрация, размеры)
							.form-item
								input.form-inp(type="text" name="form_2")
								
					//single form item
					.form-item-group
						.form-label Агрегатное состояние
						
						.form-three-cols
							label.form-checkbox-label
								input(type="checkbox" name="form_4" value="Жидкость, м3/ч")
								span Жидкость (м3/ч)

							label.form-checkbox-label
								input(type="checkbox" name="form_5" value="Газ нм3 /ч")
								span Газ (нм3 /ч)
							label.form-checkbox-label
								input(type="checkbox" name="form_6" value="Водяной пар кг/ч")
								span Водяной пар (кг/ч)
						
				//группа внутри одного fieldset
				.fieldset-group.fieldset-sticky-header
					
					//ряд
					.fieldset-sticky-title.fieldset-sticky-row
						//Левая колонка
						.fieldset-group-title Режим работы
						//Три правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell I
								.fieldset-cell II
								.fieldset-cell III
					
					//ряд
					.fieldset-sticky-row.align-self-start
						//Левая колонка
						.fieldset-cell-name Расход#[br] #[span.fs-15 (для газа расход указан при стандартных условиях -20°C, 101,325кPа (ГОСТ2939))]
						
						//Три правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="number" name="form_7"  value="<?= $data['form_7'] ?>")
									span.form-span min
								.fieldset-cell.form-item
									input.form-inp(type="number" name="form_8"  value="<?= $data['form_8'] ?>")
									span.form-span min
								.fieldset-cell.form-item
									input.form-inp(type="number" name="form_9"  value="<?= $data['form_9'] ?>")
									span.form-span min
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="number" name="form_10"  value="<?= $data['form_10'] ?>")
									span.form-span nom
								.fieldset-cell.form-item
									input.form-inp(type="number" name="form_11"  value="<?= $data['form_11'] ?>")
									span.form-span nom
								.fieldset-cell.form-item
									input.form-inp(type="number" name="form_12"  value="<?= $data['form_12'] ?>")
									span.form-span nom
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="number" name="form_13"  value="<?= $data['form_13'] ?>")
									span.form-span max
								.fieldset-cell.form-item
									input.form-inp(type="number" name="form_14"  value="<?= $data['form_14'] ?>")
									span.form-span max
								.fieldset-cell.form-item
									input.form-inp(type="number" name="form_15"  value="<?= $data['form_15'] ?>")
									span.form-span max

					//ряд
					.fieldset-sticky-row
						//Левая колонка
						.fieldset-cell-name Давление до клапана, избыточное
						
						//Три правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="number" name="form_16"  value="<?= $data['form_16'] ?>")
									span.form-span bar
								.fieldset-cell.form-item
									input.form-inp(type="number" name="form_17"  value="<?= $data['form_17'] ?>")
									span.form-span bar
								.fieldset-cell.form-item
									input.form-inp(type="number" name="form_18"  value="<?= $data['form_18'] ?>")
									span.form-span bar
					
					//ряд
					.fieldset-sticky-row
						//Левая колонка
						.fieldset-cell-name Максимальный перепад давления
						
						//Три правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="number" name="form_19" value="<?= $data['form_19'] ?>")
									span.form-span bar
								.fieldset-cell.form-item
									input.form-inp(type="number" name="form_20" value="<?= $data['form_20'] ?>")
									span.form-span bar
								.fieldset-cell.form-item
									input.form-inp(type="number" name="form_21" value="<?= $data['form_21'] ?>")
									span.form-span bar
					
					//ряд
					.fieldset-sticky-row
						//Левая колонка
						.fieldset-cell-name Перепад давления
						
						//Три правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="number" name="" value="")
									span.form-span bar
								.fieldset-cell.form-item
									input.form-inp(type="number" name="" value="")
									span.form-span bar
								.fieldset-cell.form-item
									input.form-inp(type="number" name="" value="")
									span.form-span bar

					//ряд
					.fieldset-sticky-row
						//Левая колонка
						.fieldset-cell-name Плотность продукта#[br] #[span.fs-15  (для газов плотность указана при стандартных условиях -20°С, 101,325kPa (ГОСТ2939))]
						
						//Три правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="number" name="form_22" value="<?= $data['form_22'] ?>")
									span.form-span кг/м3
								.fieldset-cell.form-item
									input.form-inp(type="number" name="form_22" value="<?= $data['form_22'] ?>")
									span.form-span кг/м3
								.fieldset-cell.form-item
									input.form-inp(type="number" name="form_22" value="<?= $data['form_22'] ?>")
									span.form-span кг/м3
					//ряд
					.fieldset-sticky-row
						//Левая колонка
						.fieldset-cell-name Максимальная температура продукта
						
						//Три правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="number"  name="form_28" value="<?= $data['form_28'] ?>")
									span.form-span bar
								.fieldset-cell.form-item
									input.form-inp(type="number"  name="form_28" value="<?= $data['form_28'] ?>")
									span.form-span bar
								.fieldset-cell.form-item
									input.form-inp(type="number"  name="form_28" value="<?= $data['form_28'] ?>")
									span.form-span bar
					//ряд
					.fieldset-sticky-row
						//Левая колонка
						.fieldset-cell-name Температура окружающей среды
						
						// правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span min, °С
								.fieldset-cell.form-item
									input.form-inp(type="number")
									span.form-span maх, °С
					
					//ряд
					.fieldset-sticky-row
						//Левая колонка
						.fieldset-cell-name Максимальное давление #[span.fs-15 (избыточное)]
						
						// правые колонки
						.fieldset-sticky-cols
							.inner-row
								.fieldset-cell.form-item
									input.form-inp(type="number" name="form_27" value="<?= $data['form_27'] ?>")
									span.form-span bar
				
			//BLOCK №3
			.fieldset
				.fieldset-title 3. Установка
				.form-two-cols
					//single form item
					.form-item-group
						.form-label Размер трубопровода, толщина стенки
						.form-item
							input.form-inp(type="number" name="form_31" value="<?= $data['form_31'] ?>")
					
					//single form item
					.form-item-group
						.form-label Материал трубопровода
						.form-item
							input.form-inp(type="text" name="form_32" value="<?= $data['form_32'] ?>")
							span.form-span Ø х мм
			
			//BLOCK №4
			.fieldset.border-0
				.fieldset-title 4. Клапан
				//группа внутри одного fieldset
				.fieldset-group
					.form-two-cols
						//single form item
						.form-item-group
							.form-label Модификация
							.dropdown
								button.dropdown__button(type="button") 2-х ходовой
								
								.dropdown__list
									ul
										li.dropdown__list-item(data-value="Текст1") 2-х ходовой
										li.dropdown__list-item(data-value="Текст2") 3-х ходовой
										
								
								//==== в этот скрытый инпут в качестве value  выводится значение из data-value у.dropdown__list-item ===
								input.dropdown__input-hidden(type="hidden", name="")
								
						//single form item
						.form-item-group
							.form-label Номинальный диаметр, DN
							.form-item
								input.form-inp(type="number" name="name" )
								span.form-span мм
						//single form item
						.form-item-group
							.form-label Номинальное давление, PN
							.form-item
								input.form-inp(type="number" name="name")
								span.form-span bar
						//single form item
						.form-item-group
							.form-label Класс по ANSI
							.form-item
								input.form-inp(type="text" name="name")
						
						//single form item
						.form-item-group
							.form-label Пропускная способность, Kvs**
							.form-item
								input.form-inp(type="text" name="name")
								span.form-span 	м3/ч

						//single form item
						.form-item-group
							.form-label Класс герметичности
							.form-item
								input.form-inp(type="text" name="name")
						
						//single form item
						.form-item-group
							.form-label Назначение клапана
							.dropdown
								button.dropdown__button(type="button") Регулирование
								.dropdown__list
									ul
										li.dropdown__list-item(data-value="Текст1") Регулирование
										li.dropdown__list-item(data-value="Текст2") Открыт/закрыт
								
								//==== в этот скрытый инпут в качестве value  выводится значение из data-value у.dropdown__list-item ===
								input.dropdown__input-hidden(type="hidden", name="")
						
						//single form item
						.form-item-group
							.form-label Пропускная характеристика
							.dropdown
								button.dropdown__button(type="button") Равнопроцентная
								.dropdown__list
									ul
										li.dropdown__list-item(data-value="Равнопроцентная") Равнопроцентная
										li.dropdown__list-item(data-value="Запорная") Запорная
										li.dropdown__list-item(data-value="Линейная") Линейная
										
								
								//==== в этот скрытый инпут в качестве value  выводится значение из data-value у.dropdown__list-item ===
								input.dropdown__input-hidden(type="hidden", name="")
						
						//single form item
						.form-item-group
							.form-label Уплотнение штока плунжера
							.dropdown
								button.dropdown__button(type="button") Сальник (стандарт)
								.dropdown__list
									ul
										li.dropdown__list-item(data-value="Сальник (стандарт)") Сальник (стандарт)
										li.dropdown__list-item(data-value="Запорная") Сильфон
										
								
								//==== в этот скрытый инпут в качестве value  выводится значение из data-value у.dropdown__list-item ===
								input.dropdown__input-hidden(type="hidden", name="")
						
						//single form item
						.form-item-group
							.form-label Положение при отсутствии питания
							.dropdown
								button.dropdown__button(type="button") Открыт
								.dropdown__list
									ul
										li.dropdown__list-item(data-value="Открыт") Открыт
										li.dropdown__list-item(data-value="Запорная") Закрыт
										li.dropdown__list-item(data-value="Линейная") Сохраняет положение
								
								//==== в этот скрытый инпут в качестве value  выводится значение из data-value у.dropdown__list-item ===
								input.dropdown__input-hidden(type="hidden", name="")
						
						//single form item
						.form-item-group
							.form-label Способ монтажа
							.dropdown
								button.dropdown__button(type="button") Фланцевый
								.dropdown__list
									ul
										li.dropdown__list-item(data-value="Фланцевый") Фланцевый
										li.dropdown__list-item(data-value="Запорная") Под приварку
										li.dropdown__list-item(data-value="Линейная") Резьбовой
										
								
								//==== в этот скрытый инпут в качестве value  выводится значение из data-value у.dropdown__list-item ===
								input.dropdown__input-hidden(type="hidden", name="")
						
						//single form item
						.form-item-group
							.form-label Уплотнение затвора
							.dropdown
								button.dropdown__button(type="button") Металл по металлу (стандарт) 
								.dropdown__list
									ul
										li.dropdown__list-item(data-value="Металл по металлу (стандарт)") Металл по металлу (стандарт)
										li.dropdown__list-item(data-value="Запорная") Мягкое уплотнение(PTFE)
										
										
								
								//==== в этот скрытый инпут в качестве value  выводится значение из data-value у.dropdown__list-item ===
								input.dropdown__input-hidden(type="hidden", name="")
								
						//single form item
						.form-item-group
							.form-label Материал корпуса клапана
							.form-item
								input.form-inp(type="text" name="name")
						//single form item
						.form-item-group
							.form-label Форма уплотнительной поверхности фланцев
							.form-item
								input.form-inp(type="text" name="name")
			
				//группа Исполнительный механизм
				.fieldset-group
					.fieldset-group-title Исполнительный механизм
					.form-two-cols
						//single form item
						.form-item-group
							.form-label Тип
							.dropdown
								button.dropdown__button(type="button") Пневматический
								.dropdown__list
									ul
										li.dropdown__list-item(data-value="Текст1") Пневматический
										li.dropdown__list-item(data-value="Текст2") Электрический
										
								
								//==== в этот скрытый инпут в качестве value  выводится значение из data-value у.dropdown__list-item ===
								input.dropdown__input-hidden(type="hidden", name="")
						
						//single form item
						.form-item-group
							.form-label Давление питания, bar
							.form-item
								input.form-inp(type="text" name="inp_name" )
						
						//single form item
						.form-item-group
							.form-label Напряжение питания
							.dropdown
								button.dropdown__button(type="button") 400V 50Hz 3~
								
								.dropdown__list
									ul
										li.dropdown__list-item(data-value="400V 50Hz 3~") 400V 50Hz 3~
										li.dropdown__list-item(data-value="230V 50 Hz 1~") 230V 50 Hz 1~
										li.dropdown__list-item(data-value="115V 50 Hz 1~") 115V 50 Hz 1~
										li.dropdown__list-item(data-value="115V 50 Hz 1~") 115V 50 Hz 1~
										li.dropdown__list-item(data-value="24V 50 Hz 1~") 24V 50 Hz 1~ 
										li.dropdown__list-item(data-value="24V DC") 24V DC
										
								
								//==== в этот скрытый инпут в качестве value  выводится значение из data-value у.dropdown__list-item ===
								input.dropdown__input-hidden(type="hidden", name="")
						//single form item
						.form-item-group
							.form-label Ручной дублёр
							.form-radio-row
								label.form-radio-label
									input(type="radio" checked name="radio6" value="yes")
									span.fake-radio
									span.form-radio-name Да
								
								label.form-radio-label
									input(type="radio" name="radio6" value="no")
									span.fake-radio
									span.form-radio-name Нет
				
				//группа Позиционер
				.fieldset-group
					.fieldset-group-title Позиционер
					.form-two-cols
						//single form item
						.form-item-group
							.form-label Тип
							.dropdown
								button.dropdown__button(type="button") Пневматический
								.dropdown__list
									ul
										li.dropdown__list-item(data-value="Текст1") Пневматический
										li.dropdown__list-item(data-value="Текст2") Электрический
										
								
								//==== в этот скрытый инпут в качестве value  выводится значение из data-value у.dropdown__list-item ===
								input.dropdown__input-hidden(type="hidden", name="")
						
						//single form item
						.form-item-group
							.form-label Входной сигнал
							.dropdown
								button.dropdown__button(type="button") 4-20 mA
								.dropdown__list
									ul
										li.dropdown__list-item(data-value="Текст1") 4-20 mA
										li.dropdown__list-item(data-value="Текст2") 3-х точечный
										
								
								//==== в этот скрытый инпут в качестве value  выводится значение из data-value у.dropdown__list-item ===
								input.dropdown__input-hidden(type="hidden", name="")
						
						//single form item
						.form-item-group
							.form-label Степень защиты оболочки IP
							.form-item
								input.form-inp(type="text" name="inp_name" )
						
						//single form item
						.form-item-group
							.form-label Требования по взрывозащите
							.form-radio-row
								label.form-radio-label
									input(type="radio" checked name="radio2" value="yes")
									span.fake-radio
									span.form-radio-name Да
								
								label.form-radio-label
									input(type="radio" name="radio2" value="no")
									span.fake-radio
									span.form-radio-name Нет

				//группа Соленоид
				.fieldset-group
					.fieldset-group-title Соленоид
					.form-two-cols
						//single form item
						.form-item-group
							.form-label Напряжение питания
							.dropdown
								button.dropdown__button(type="button") 24V DC
								.dropdown__list
									ul
										li.dropdown__list-item(data-value="Текст1") 24V DC
										li.dropdown__list-item(data-value="Текст2") 230V AC
								
								//==== в этот скрытый инпут в качестве value  выводится значение из data-value у.dropdown__list-item ===
								input.dropdown__input-hidden(type="hidden", name="")
						
						//single form item
						.form-item-group
							.form-label Требования по взрывозащите
							.form-radio-row
								label.form-radio-label
									input(type="radio" checked name="radio3" value="yes")
									span.fake-radio
									span.form-radio-name Да
								
								label.form-radio-label
									input(type="radio" name="radio3" value="no")
									span.fake-radio
									span.form-radio-name Нет
						
						//single form item
						.form-item-group
							.form-label Степень защиты оболочки IP
							.form-item
								input.form-inp(type="text" name="inp_name" )
				
				//группа Конечные выключатели
				.fieldset-group
					.fieldset-group-title Конечные выключатели
					.form-two-cols
						//single form item
						.form-item-group
							.form-label Назначение
							.dropdown
								button.dropdown__button(type="button") Для открытого положения
								.dropdown__list
									ul
										li.dropdown__list-item(data-value="Текст1") Для открытого положения
										li.dropdown__list-item(data-value="Текст2") Для закрытого положения
										
								
								//==== в этот скрытый инпут в качестве value  выводится значение из data-value у.dropdown__list-item ===
								input.dropdown__input-hidden(type="hidden", name="")
						
						//single form item
						.form-item-group
							.form-label Требования по взрывозащите
							.form-radio-row
								label.form-radio-label
									input(type="radio" checked name="radio4" value="yes")
									span.fake-radio
									span.form-radio-name Да
								
								label.form-radio-label
									input(type="radio" name="radio4" value="no")
									span.fake-radio
									span.form-radio-name Нет
						
						//single form item
						.form-item-group
							.form-label Тип
							.dropdown
								button.dropdown__button(type="button") Механические
								.dropdown__list
									ul
										li.dropdown__list-item(data-value="Текст1") Механические
										li.dropdown__list-item(data-value="Текст2") Индуктивные  
										
								
								//==== в этот скрытый инпут в качестве value  выводится значение из data-value у.dropdown__list-item ===
								input.dropdown__input-hidden(type="hidden", name="")
						
						//single form item
						.form-item-group
							.form-label Степень защиты оболочки IP
							.form-item
								input.form-inp(type="text" name="inp_name" )

						
						//single form item
						.form-item-group
							.form-label Принадлежности
							.dropdown
								button.dropdown__button(type="button") Ответные фланцы
								.dropdown__list
									ul
										li.dropdown__list-item(data-value="Текст1") Ответные фланцы 
										li.dropdown__list-item(data-value="Текст2") Прокладки
										li.dropdown__list-item(data-value="Текст2") ПБолты, гайки
										 
								
								//==== в этот скрытый инпут в качестве value  выводится значение из data-value у.dropdown__list-item ===
								input.dropdown__input-hidden(type="hidden", name="")

						//single form item
						.form-item-group
							.form-label Фильтр-редуктор
							.form-radio-row
								label.form-radio-label
									input(type="radio" checked name="radio5" value="yes")
									span.fake-radio
									span.form-radio-name Да
								
								label.form-radio-label
									input(type="radio" name="radio5" value="no")
									span.fake-radio
									span.form-radio-name Нет
								
						
				//Поле комментария
				.fieldset-group 
					.form-item-group
						.form-label Примечание
						textarea.form-textarea(name="COMMENTS" id="input")
				.form-footer
					p.fs-15.txt-grey * Если вы затрудняетесь в определении каких-либо значений, свяжитесь с нами, мы поможем их определить, основываясь на дополнительной информации о процессе / установке. Поля, отмеченные *, являются обязательными для заполнения.
					.agree-block
						label.agree-block-label
							input(type="checkbox")
							span Принимаю условия политики конфиден&shy;ци&shy;аль&shy;ности и обработки персональных данных
					.form-button-wrapper
						button.form-button(type="submit") Отправить
block variables
	-var title = "Регулирующий клапан";
